@mixin zero-config{
    padding: 0;
    margin: 0;
}

@mixin w-h($w,$h){
    width: $w;
    height: $h;
}

@mixin m-p($m,$p){
    margin: $m;
    padding: $p;
}

@mixin center(){
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button-2($color,$pt,$pb,$pl,$pr){
    background:$color;
    border-radius: 25px;
    padding-top:$pt;
    padding-bottom: $pb;
    padding-left: $pl;
    padding-right: $pr;
}
