$primary-color:#03AED2;
$back-color: #68D2E8;
$footer-color:#FEEFAD;
//$line-gradient:linear-gradient(#68D2E8, #FEEFAD);
$logo-color:#FED74D;
$letter-color-1:#FDDE55;
$letter-color-2:#FFEB92;
$white:#fff;
$black:#000;
//$back-menu-mobile:linear-gradient(0.25turn, #68D2E8, #FEEFAD);
$none-color:none;