@use "mixins";
@use "variables";

//Modo desktop
.no-desktop{
    display: none;
}

*{
    @include mixins.zero-config();
}

body {
    background-color: variables.$back-color;
    color: variables.$letter-color-1;
    max-width: 1440px;
   
}

//Header.jsx - caso queira alterar algo
//Modo desktop - ok
header{
    background-color: variables.$primary-color;

    img{
        @include mixins.w-h(auto,55px);
        margin-left: 1rem;
    }

    div.logo-nome{
        display: flex;
        gap: 2rem;
    }

    nav{
        @include mixins.w-h(auto,80px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 1rem;


        ul{
            display: flex;
            gap: 1rem;
            list-style: none;
            align-items: center;
            padding-top: 15px;

            li.botao{
                @include mixins.button-2(variables.$logo-color,5px,5px,20px,20px);    
            }

            li{
                    text-decoration: none;
                    align-items: center;
                    color:variables.$white;
                    font-size: 20px;
                    font-weight: 200;
                    font-family: Arial, Helvetica, sans-serif;
            }   
        }
    }
}

//Mudar cor dos link Rotas
.link{
    text-decoration: none;
    align-items: center;
    color:variables.$white;
    font-size: 20px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}
//Rota dos cards
.link2{
    text-decoration: none;
    align-items: center;
    color:variables.$white;
    font-size: 16px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}

//Banner.jsx
div.banner{
    @include mixins.w-h(auto,80%);
    position: relative;
    img{
        @include mixins.w-h(100%,550px);
    }
    div.bem-vindo{
        @include mixins.w-h(300px,auto);
        position: absolute;
        //background: rgba(255, 255, 255, 0.7);
        margin-top: -30%;
        margin-left:70%;
        color:variables.$black;
        text-align: right;
    }
}

//Card.jsx
div.card{
    @include mixins.w-h(320px,240px);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 25px;
    @include mixins.m-p(20px,20px);
    h3{
        color: variables.$primary-color;
    }
    p{
        font-size: 17px;
        font-weight: 400;
        align-items: center;
        margin-left: 19px;
        margin-right: 19px;
    }
    button{
        background-color: variables.$primary-color;
        @include mixins.w-h(140px,50px);
        border-radius: 25px;
        text-decoration: none;
    }
}

//section.home no App.jsx
section.home{
    display: flex;
    @include mixins.m-p(0px,30px);
    align-items:flex-start;
    justify-content: center;
}

//section linear
section.linear-grad{
    @include mixins.linearGradient(variables.$back-color,variables.$footer-color);
    @include mixins.w-h(auto,65vh);
    margin-bottom: -2px;
    @include mixins.center();
    h1{
        color:variables.$black;
    }
}

//Footer.jsx
//modo desktop
footer{
    background-color: variables.$footer-color;
    color:variables.$primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    div{
        h2{
            font-size: 20px;
            display: flex;
            justify-content: space-around;
        }
        ul{
            display: flex;
            list-style: none;
            justify-content: center;
            gap:20px;
            align-items: center;
            margin: 15px;
            padding: 0px;
        }
    }
}

//Pagina Contato
section.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: variables.$letter-color-1;
    div.titulo{
        p{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
            font-size: 20px;
            color:variables.$white;
            padding-left: 15%;
            padding-right: 15%;
        }
    }
    div.botaoMensagem{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    button{
        background-color: variables.$letter-color-1;
        width: 200px;
    }
}

//Pagina Cadastro
section.cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 600;
    color: variables.$letter-color-1;
    div.titulo{
        margin: 20px;
        p{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
            font-size: 21px;
            color:variables.$white;
            padding-left: 15%;
            padding-right: 15%;
        }
    }
    div.botaoMensagem{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    button{
        background-color: variables.$letter-color-1;
        width: 200px;
        font-size: 20px;
    }
    label.text-muted{
        font-size: 20px;
        font-weight: 200;
    }
}

//Pagina Login
section.paginaLogin{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.login{
    background-color: variables.$letter-color-2;
    @include mixins.w-h(440px,400px);
    border-radius: 35px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: variables.$primary-color;
    font-weight: 600;
    button{
        background-color: variables.$primary-color;
        margin-left: 60px;
    }   
}

//TextoImagem.jsx
div.divTI{
    display: flex;
    flex-direction: column;
    @include mixins.m-p(30px,0px);
    font-family: Arial, Helvetica, sans-serif;
    h1{
        font-weight: 500;
        color: variables.$letter-color-1;
    }
    div{
        display: flex;
        margin-top: 5px;
        p{
            @include mixins.w-h(80%,200px);
            color:variables.$white;
            font-size: 20px;
        }
    }
}

div.divTI-1{
    padding-bottom: 20px;
    div.imagem{
        width: auto;
        height: 170px;
    }
}

div.divTI-2{
    div.imagem{
        @include mixins.w-h(auto,170px);
    }
    div.texto{
        display: flex;
        justify-content: end;
        text-align: right;
    }
}

div.titulo{
    @include mixins.m-p(30px,0px);
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 21px;
        color:variables.$white;
    }
}

//Componente ModeloInfosMar
div.modeloInfosMar{
    background-color: variables.$white;
    border-radius: 25px;
    @include mixins.w-h(200px,200px);
    flex-direction: column;
    @include mixins.center();
    color: variables.$primary-color;
    h2{
        text-align: center;
    }
}

//MarHoje.jsx
div.dados{
    @include mixins.center();
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

div.local-data{
    @include mixins.m-p(45px,0);
    color: variables.$letter-color-2;
}

//MODO TABLET
@media screen and (min-width: 768px) and (max-width: 1065px){
    .no-tablet{
        display: none;
    }
    .no-desktop{
        display: inline;
    }
    //HEADER
    nav.cor-header{
        background-color: variables.$primary-color;
        width: 100%;
    }
    button.botao-menu-hamburguer{
        border: none;
    }
    div.offcanvas-body, div.offcanvas-header{
        background: linear-gradient(0.25turn, #68D2E8, #FEEFAD);
    }

    //HOME
    //Banner
    div.banner{
        div.bem-vindo{
            @include mixins.w-h(300px,auto);
            margin-top: -40%;
            margin-left:60%;
        }
    }

    //Card - componente
    div.card{
        @include mixins.w-h(250px,360px);
    }
    section.home{
        height: 100vh;
    }

    //Componente TextoImagem
    //TextoImagem.jsx
 
    div.divTI-1{
        @include mixins.w-h(auto,270px);
        div.imagem{
            width: auto;
            height: 170px;
        }
        div.texto{
            p{
                font-size: 15px;
            }
        }
    }

    div.divTI-2{
        @include mixins.w-h(auto,260px);
        div.imagem{
            @include mixins.w-h(340px,200px);
        }
        div.texto{
            p{
                font-size: 15px;
            }
        }
    }

    //Pagina Contato e Cadastro 
    section.contato, section.cadastro{
        margin: 30px;
    }
}

//MOBILE

@media screen and (max-width: 767px){
    .no-tablet{
        display: none;
    }
    .no-desktop{
        display: inline;
    }

    //HEADER
    nav.cor-header{
        background-color: variables.$primary-color;
        width: 100%;
    }
    div.logo-nome{
        width:20px;
        text-align: center;
    }
    button.botao-menu-hamburguer{
        border: none;
    }
    div.offcanvas-body, div.offcanvas-header{
        background: linear-gradient(0.25turn, #68D2E8, #FEEFAD);
    }
    //HOME

    //MenuMobile

    div.container-fluid{
        display: flex;
        justify-content: space-around;
    }

    div.logo-nome{
        display: flex;
        align-items: center;

    }
    img.onda-menu{
        @include mixins.w-h(40px,30px)
    }

    //Banner
    div.banner{
        div.bem-vindo{
            @include mixins.w-h(auto,auto);
            padding: 5px;
            margin-top: -350px;
            margin-left:15%;
        }
    }

    //Card - componente
    div.card{
        @include mixins.w-h(250px,310px);
    }
    section.home{
        height: auto;
        display: flex;
        flex-wrap: wrap;

    }

    //TextoImagem.jsx

    div.divTI{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.divTI-1{
        @include mixins.w-h(auto,auto);
        @include mixins.center();
        flex-wrap: wrap;
        div.imagem{
            width: auto;
            height: 200px;
        }
        div.texto{
            margin-bottom: 20px;
            @include mixins.center();
            p{
                @include mixins.w-h(300px,auto);
                font-size: 15px;
                text-align:start;
            }
        }
    }

    div.divTI-2{
        @include mixins.w-h(auto,550px);
        @include mixins.center();
        flex-wrap: wrap-reverse;
        div.imagem{
            @include mixins.w-h(auto,200px);
        }
        div.texto{
            margin-bottom: 20px;
            @include mixins.center();
            p{
                font-size: 15px;
                
            }
        }
    }

    //Pagina Contato e Cadastro 
    section.contato, section.cadastro, section.paginaLogin{
        margin: 30px;
    }

    section.contato div.titulo p{
        padding: 0;
    }

    section.cadastro div.titulo p{
        padding: 0;
    }


}